:root {
    --blanco: #F6F7F6;
    --blanco-secundario: #F3F3F3;
    --gris: #383838;
    --negro: #202020;
    --negro-secundario: #1E1E1E;
    --verde: #BCFC61;
}

.html {
    font-size: 62.5%;
    box-sizing: border-box;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {

    font-size: 16px;
    font-family: "Krub", sans-serif;




}




.header {
    width: 90%;
    display: flex;
    justify-content: space-between;

}

.logo {
    display: flex;
    align-items: center;

}

.navegacion {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navegacion a {
    text-decoration: none;
    color: var(--negro);
}

@media (max-width: 1024px) {

    .header {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .navegacion {
        flex-direction: column;
        width: 100%;
    }

    .boton:hover {

        text-align: center;
        border-radius: 0%;
        background-color: var(--gris);
        width: 100%;
    }

    .navegacion .boton:last-child {
        border-radius: .5rem;
        width: auto;
        border: 2px solid var(--negro);
    }
}

.boton {
    padding: 0.8rem 1.5rem;
    border-radius: .5rem;
}



.navegacion .boton:last-child {
    border: 2px solid var(--negro);
}

.boton:hover {
    background-color: var(--gris);
}




.tituloprincipal {
    display: flex;
    align-items: center;
    width: 16rem;
}

.hero img {
    margin-top: 1rem;
    margin-left: 15rem;
    width: 400px;

}

.tituloprincipal h2 {
    font-size: 2.5rem;
    width: 19rem;

}

.tituloprincipal p {
    width: 19rem;
    margin-bottom: 3rem;
}

.tituloprincipal a {
    color: var(--blanco);
    text-decoration: none;
    background-color: var(--negro);

}

.iconos {
    margin-top: 4rem;

}

.icono {
    width: 280px;
}

.tituloservicios {
    display: flex;

}

.tituloservicios h2 {
    margin-right: 2rem;
    background-color: var(--verde);
    padding: .3rem .3rem;
    border-radius: .4rem;
}

.tituloservicios p {
    color: var(--gris);
    display: flex;
    align-items: center;
    width: 500px;
    font-size: small;
}

.mis_servicios {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 2fr);

}

.flecha-mas {
    display: flex;

}

.contenedor_negro {
    background-color: var(--negro);

}