/* ===========================
   VARIABLES GLOBALES
=========================== */
:root {
    --blanco: #F6F7F6;
    --blanco-secundario: #F3F3F3;
    --gris: #383838;
    --gris-claro: #F3F3F3;
    --negro: #202020;
    --negro-secundario: #1E1E1E;
    --verde: #BCFC61;
}

/* ===========================
   CONFIGURACIÓN GENERAL
=========================== */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {

    font-size: 16px;
    font-family: "Google Sans Flex", sans-serif;

}

/* ===========================
   HEADER Y NAVEGACIÓN
=========================== */
.header {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.header span {
    font-size: 3rem;
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.navegacion {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}

.navegacion a {

    text-decoration: none;
    color: var(--negro);
}




/* ===========================
   BOTONES
=========================== */
.boton {
    width: 100%;
    text-align: center;
    padding: 0.8rem 1.5rem;
    border-radius: .5rem;
    box-sizing: border-box;
}

.navegacion .boton:last-child {
    padding: 1.5rem 2.5rem;
    border: 2px solid var(--negro);
    border-radius: 1rem;
}

.boton:hover {

    background-color: var(--gris);
}

/* ===========================
   SECCIÓN HERO
=========================== */





.hero {
    display: flex;
    justify-content: center;
}


.hero img {
    margin-top: 4rem;
    width: 400px;
}

.tituloprincipal h2 {
    font-size: 4rem;
    /* width: 35rem; */

}

.tituloprincipal p {
    font-size: 1.5rem;
    color: var(--gris);
    /* width: 29rem; */
    margin-bottom: 3rem;

}

.tituloprincipal a {
    color: var(--blanco);
    text-decoration: none;
    background-color: var(--negro);
    padding: 1.3rem 3rem;
    border-radius: 1rem;



}

.contenedor_navigating {

    display: flex;
    flex-direction: column;
    align-items: center;
}




/* ===========================
   SECCIÓN DE ICONOS
=========================== */
.iconos {
    margin-top: 5rem;
    margin-bottom: 2rem;

}

.contenedor_iconos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

}

/* ===========================
   TÍTULO DE SERVICIOS
=========================== */
.tituloservicios {
    display: flex;

    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;

}

.tituloservicios h2 {
    width: 100%;
    background-color: var(--verde);
    padding: .3rem .6rem;
    border-radius: .4rem;
    box-sizing: border-box;

}

.tituloservicios p {
    color: var(--gris);

    font-size: small;
}

/* ===========================
   TARJETAS DE SERVICIOS
=========================== */

.tituloservicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mis_servicios {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(1fr);
    margin-bottom: 3rem;

}


.flecha-mas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20rem;


}

.flecha {
    display: flex;
    align-items: center;


}

.contenedor_negro {
    border-radius: 3rem;
    background-color: var(--negro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
}

.contenedor_blanco {
    border-radius: 3rem;
    border: solid 2px var(--negro);
    border-bottom: solid 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
}

.contenedor_blanco svg {
    background-color: var(--negro);
    color: var(--verde);
    border-radius: 50%;
    margin-right: 1rem;
}

/* .contenedor_blanco h3 span {

    background-color: var(--verde);
    padding: 0 .4rem;
    border-radius: .5rem;

} */

.contenedor_blanco h3 {
    /* justify-content: ; */
    display: inline;
    background-color: var(--verde);
    width: max-content;
    padding: 1rem;
    margin-bottom: .5rem;
    border-radius: .5rem;
}

.contenedor_blanco h3 span {
    margin-top: .5rem;
}

.contenedor_negro h3 {

    display: inline;
    background-color: var(--blanco);
    width: max-content;
    padding: 1rem;
    margin-bottom: .5rem;
    border-radius: .5rem;
}

.contenedor_negro h3 span {
    margin-top: .5rem;
}



h3 span {
    display: block;
}



h3 span:last-child {
    display: block;
    margin-top: .07px;

}

.mis_servicios a {
    text-decoration: none;
}

.mas_blanco {
    color: var(--negro);
}

.mas_negro {
    color: var(--blanco);
}

.contenedor_negro svg {
    background-color: var(--blanco);
    color: var(--negro);
    border-radius: 50%;
    margin-right: 1rem;
}



.imagen {

    width: 170px;
}

/* marketing */



.contenedor_marketing {
    display: flex;
    flex-direction: column;

}


.marketing {
    background-color: var(--gris-claro);
    padding: 3rem;
    border-radius: 3rem;
}

.marketing h3 {
    font-size: 2rem;
    text-align: center;
}

.marketing p {
    font-size: 1.5rem;

    margin-bottom: 4rem;
    text-align: center;
}

.marketing a {
    display: block;
    width: 100%;
    box-sizing: border-box;

    padding: 1.5rem;
    border-radius: 1rem;
    text-decoration: none;
    background-color: var(--negro);
    color: var(--blanco);
    text-align: center;
}



.imagen_marketing img {
    display: block;
    margin: 0 auto;
    width: 330px;


}

/* casos de estudio */

.contenedor_textoestudio {
    display: flex;

    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;


}

.contenedor_textoestudio h2 {
    margin-right: 2rem;
    background-color: var(--verde);
    padding: .3rem .3rem;
    border-radius: .4rem;
}

.contenedor_textoestudio p {
    display: flex;
    align-items: center;

    font-size: small;
}

.contenedor_casosestudio {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--negro);
    border-radius: 3rem;
    padding: 4rem;
    gap: 6rem;

}

.contenedor_casosestudio section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contenedor_casosestudio p {
    width: 30rem;
    color: var(--blanco);
}

.contenedor_casosestudio a {
    color: var(--verde);
    text-decoration: none;
}


.flecha_estudio {

    color: var(--verde);
    display: flex;

}



footer {
    margin-top: 4rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}


/* 
responsividad  */

@media (min-width: 1024px) {

    body {
        margin-left: 4rem;
    }

    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        align-items: center;
    }

    .navegacion {
        flex-direction: row;
        align-items: center;
        width: auto;
        flex-direction: row;
    }

    .boton {
        width: auto;
    }


}


@media (min-width: 1024px) {
    .contenedor_titulo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20rem;

    }

    .tituloprincipal {
        width: 60%;
    }

    .tituloprincipal h2 {
        width: 35rem;
    }

    .tituloprincipal p {
        width: 29rem;
    }

}


@media (min-width: 1024px) {
    .icono {
        width: 300px;
    }

    .contenedor_iconos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1024px) {
    .tituloservicios {
        flex-direction: row;
        align-items: center;
        text-align: left;


    }

    .tituloservicios p {

        display: flex;
        align-items: center;
        width: 500px;


    }

    .mis_servicios {

        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(2, 2fr);
        margin-bottom: 10rem;
    }

    .tituloservicios h2 {
        width: auto;
    }



}

@media (min-width: 1024px) {
    .contenedor_marketing {
        flex-direction: row;
        justify-content: space-between;


    }

    .marketing p {
        width: 36rem;
    }

    .marketing a {
        display: inline-block;

        align-items: center;
    }

    .imagen_marketing img {
        width: 240px;
    }
}

@media (min-width: 1024px) {

    .contenedor_casosestudio {
        display: flex;

    }

    .contenedor_casosestudio p {
        width: 40rem;
    }

    .contenedor_textoestudio{
        flex-direction: row;
        align-items: center;
        text-align: left;

    }

}